@font-face {
    font-family: 'Acumin Pro';
    src: url(../font/acumin-pro-cufonfonts/Acumin-RPro.otf);
}

@font-face {
    font-family: 'Inter';
    src: url(../font/Inter-font/Inter\ Desktop/Inter-Regular.otf);
}

@font-face {
    font-family: 'Neuropol X';
    src: url(../font/neuropol_x/neuropol\ x\ rg.otf);
}