body {
    margin: 0px;
    padding: 0px;
    font-family: 'Acumin Pro';
}

.cursor-pointer {
    cursor: pointer;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.d-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0px;
}

/* Login */

.login-container {
    margin-top: 72px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 197px;
    padding-top: 102px;
    padding-bottom: 173px;
    background-color: #D0EBEC;
    border-radius: 40px;
}

.login-container .login-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.2px;
    color: #124759;
}

.login-container .login-errMsg {
    margin-bottom: 5px;
    margin-top: 52px;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #FF2929;
}

.login-container input {
    margin-top: 60px;
    margin-bottom: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #124759;
    border-radius: 0px;
    width: 439px;
    margin-left: auto;
    margin-right: auto;
}

.login-container .login-forgot {
    width: 439px;
    margin-top: 20px;
    margin-bottom: 40px;
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #8B8B8B;
    margin-left: auto;
    margin-right: auto;
}

.login-container .login-account {
    width: 439px;
    margin-top: 76px;
    margin-bottom: 14px;
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #8B8B8B;
    margin-left: auto;
    margin-right: auto;
}

.login-container button {
    font-weight: 400;
    font-size: 17px;
    line-height: 20px;
}

.login-container button img {
    height: 17px;
}

.login-container .login-dark-btn {
    margin-bottom: 36px;
    background-color: #124759;
    color: #fff;
    width: 439px;
    height: 63px;
    border: none;
    border-radius: 30px;
}

.login-container .login-light-btn {
    margin-top: 17px;
    background-color: #fff;
    color: #124759;
    width: 439px;
    height: 63px;
    border: 1px solid #124759;
    border-radius: 30px;
}

@media screen and (max-width: 768px) {
    .login-container {
        padding-left: 36px;
        padding-right: 35px;
        padding-top: 92px;
        padding-bottom: 102px;
        margin-top: 32px;
        margin-bottom: 89px;
        margin-left: 11px;
        margin-right: 9px;
    }

    .login-container .login-title {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 8px;
    }

    .login-container input {
        width: 100%;
    }

    .login-container button {
        width: 100% !important;
    }

    .login-container .login-forgot,
    .login-container .login-account {
        width: 100%;
    }

    .login-container .login-errMsg {
        position: absolute;
        margin: 0px;
        left: 0px;
        width: 100%;
    }
}