body {
    margin: 0px;
    padding: 0px;
    font-family: 'Acumin Pro';
}

.cursor-pointer {
    cursor: pointer;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.d-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Carousel */
#carouselCaptions {
    font-family: 'Acumin Pro';
}

.main-carousel {
    height: 899px;
    border-bottom-left-radius: 40px;
    border-bottom-right-radius: 40px;
}

.main-carousel1 {
    background: url(../img/carousel/carousel1.png);
    background-size: cover;
    background-position: center;
}

.main-carousel2 {
    background: url(../img/carousel/carousel2.png);
    background-size: cover;
    background-position: center;
}

.main-carousel3 {
    background: url(../img/carousel/carousel3.png);
    background-size: cover;
    background-position: center;
}

.main-carousel4 {
    background: url(../img/carousel/carousel4.png);
    background-size: cover;
    background-position: center;
}

.main-carousel5 {
    background: url(../img/carousel/carousel5.png);
    background-size: cover;
    background-position: center;
}

.carousel-caption {
    left: 65px;
    bottom: 135px;
    text-align: left;
    width: 590px;
}

.carousel-caption-title {
    font-size: 60px;
    font-weight: 400;
    line-height: 68px;
}

.carousel-caption-body {
    font-size: 24px;
    font-weight: 400;
    line-height: 30px;
}

.carousel-caption-body span {
    padding-right: 11px;
    margin-left: -35px;
}

.carousel-caption .carousel-caption-footer {
    margin-top: 27px;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    width: 100px;
    padding-bottom: 10px;
    border-bottom: 1px solid #fff;
}

.carousel-indicators-content {
    margin-top: 80px !important;
    padding-left: 82px;
    padding-right: 115px;
    position: relative;
    font-size: 20px;
    font-weight: 700;
    line-height: 28px;
    font-style: normal;
    color: #124759;
}

.carousel-indicators-content .carousel-subIndicator1 {
    width: 198px;
    cursor: pointer;
}

.carousel-indicators-content .carousel-subIndicator2 {
    width: 150px;
    cursor: pointer;
}

.carousel-indicators-content .carousel-subIndicator3 {
    width: 205px;
    cursor: pointer;
}

.carousel-indicators-content .carousel-subIndicator4 {
    width: 191px;
    cursor: pointer;
}

.carousel-indicators-content .carousel-subIndicator5 {
    width: 153px;
    cursor: pointer;
}

.carousel-indicators-content .progress {
    height: 1px;
    margin-top: 16px;
    background-color: #c4c4c4;
}

.scrolldown {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #fff;
    z-index: 2;
}

.carousel-nextslide {
    position: absolute;
    bottom: 30px;
    right: 30px;
    font-size: 18px;
    color: #fff;
    z-index: 2;
    display: none;
}

@media screen and (max-width: 1150px) {
    .carousel-indicators-content {
        font-size: 15px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .carousel-indicators-content .carousel-subIndicator1 {
        width: 149px;
    }

    .carousel-indicators-content .carousel-subIndicator2 {
        width: 100px;
    }

    .carousel-indicators-content .carousel-subIndicator3 {
        width: 155px;
    }

    .carousel-indicators-content .carousel-subIndicator4 {
        width: 180px;
    }

    .carousel-indicators-content .carousel-subIndicator5 {
        width: 75px;
    }
}

@media screen and (max-width: 900px) {
    .carousel-indicators-content {
        font-size: 12px;
    }

    .carousel-indicators-content .carousel-subIndicator1 {
        width: 119px;
    }

    .carousel-indicators-content .carousel-subIndicator2 {
        width: 100px;
    }

    .carousel-indicators-content .carousel-subIndicator3 {
        width: 122px;
    }

    .carousel-indicators-content .carousel-subIndicator4 {
        width: 130px;
    }

    .carousel-indicators-content .carousel-subIndicator5 {
        width: 75px;
    }
}

@media screen and (max-width: 768px) {
    .carousel-indicators-content {
        font-size: 9px;
    }

    .carousel-indicators-content .carousel-subIndicator1 {
        width: 89px;
    }

    .carousel-indicators-content .carousel-subIndicator2 {
        width: 55px;
    }

    .carousel-indicators-content .carousel-subIndicator3 {
        width: 90px;
    }

    .carousel-indicators-content .carousel-subIndicator4 {
        width: 100px;
    }

    .carousel-indicators-content .carousel-subIndicator5 {
        width: 50px;
    }

    .main-carousel {
        height: 650px;
    }

    .carousel-caption {
        display: inherit !important;
        width: 450px;
    }

    .carousel-caption-title {
        font-size: 30px;
    }

    .carousel-caption-body {
        font-size: 22px;
    }
}

@media screen and (max-width: 575px) {
    .main-carousel {
        height: 563px;
        border-bottom-left-radius: 0px;
        border-bottom-right-radius: 0px;
    }

    .carousel-caption {
        width: 400px;
        bottom: 44px;
        left: 40px;
    }

    .scrolldown {
        display: none;
    }

    .carousel-nextslide {
        display: inherit;
    }

    .carousel-indicators-content {
        padding-left: 94px;
        padding-right: 94px;
        font-weight: 700;
        font-size: 20px;
        line-height: 28px;
        margin-top: 45px !important;
    }

    .carousel-indicators-content .carousel-subIndicator1 {
        display: none;
    }

    .carousel-indicators-content .carousel-subIndicator2 {
        display: none;
    }

    .carousel-indicators-content .carousel-subIndicator3 {
        display: none;
    }

    .carousel-indicators-content .carousel-subIndicator4 {
        display: none;
    }

    .carousel-indicators-content .carousel-subIndicator5 {
        display: none;
    }

    .carousel-indicators-content .active {
        display: inherit;
        text-align: center;
        width: 100%;
    }
}

@media screen and (max-width: 500px) {
    .carousel-caption {
        width: 300px;
    }

    .carousel-caption-title {
        line-height: 40px;
    }
}

/* About the app */

.aboutApp-container {
    /* background: url(../img/background-image.png); */
    background-color: #64BBC2;
    background-size: 100% 100vh;
    background-repeat: no-repeat;
    border-radius: 40px;
    /* transform: matrix(-1, 0, 0, 1, 0, 0); */
    padding-left: 55px;
    padding-right: 54px;
    padding-top: 96px;
    padding-bottom: 127px;
    margin-left: 78px;
    margin-right: 80px;
    margin-top: 96px;
    margin-bottom: 138px;
}

.aboutApp-container img {
    width: 50%;
}

.aboutApp-container .aboutApp-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #124759;
}

.aboutApp-container .aboutApp-subTitle {
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #757575;
    margin-top: 17px;
    margin-bottom: 96px;
}

.aboutApp-container .aboutApp-body .aboutApp-body-right-container {
    padding-left: 98px;
    padding-right: 36px;
}

.aboutApp-container .aboutApp-body-title {
    font-weight: 400;
    font-size: 30px;
    line-height: 35px;
    color: #124759;
}

.aboutApp-container .aboutApp-body-content {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #124759;
}

.aboutApp-container .aboutApp-body-footer {
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #124759;
    width: 145px;
    border-bottom: 1px solid #124759;
}

@media screen and (max-width: 1340px) {
    .aboutApp-container .aboutApp-body-title {
        font-size: 22px;
    }

    .aboutApp-container .aboutApp-body-content {
        font-size: 16px;
    }

    .aboutApp-container .aboutApp-body-footer {
        font-size: 16px;
        width: 125px;
    }
}

@media screen and (max-width: 1200px) {
    .aboutApp-container .aboutApp-body-title {
        font-size: 20px;
    }

    .aboutApp-container .aboutApp-body-content {
        font-size: 14px;
    }

    .aboutApp-container .aboutApp-body-footer {
        font-size: 14px;
        width: 110px;
    }
}

@media screen and (max-width: 1160px) {
    .aboutApp-container .aboutApp-body .aboutApp-body-right-container {
        padding-left: 36px;
        padding-right: 36px;
    }

    .aboutApp-container .aboutApp-body-title {
        font-size: 18px;
    }

    .aboutApp-container .aboutApp-body-content {
        font-size: 12px;
    }

    .aboutApp-container .aboutApp-body-footer {
        font-size: 12px;
        width: 95px;
    }
}

@media screen and (max-width: 991px) {
    .aboutApp-container {
        background: none;
        margin-top: 72px;
        margin-bottom: 54px;
        margin-left: 0px;
        margin-right: 0px;
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 0px;
    }

    .aboutApp-container .aboutApp-title {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 600;
        font-size: 40px;
        line-height: 48px;
        align-items: center;
        text-align: center;
        letter-spacing: 0.2px;
    }

    .aboutApp-container .aboutApp-subTitle {
        font-family: "Acumin Pro";
        font-style: normal;
        font-weight: 400;
        font-size: 18px;
        line-height: 23px;
        padding-left: 66px;
        padding-right: 66px;
        margin-bottom: 50px;
    }

    .aboutApp-container .aboutApp-body {
        /* background: url(../img/background-image.png); */
        /* background-size: 100% 100vh; */
        /* background-repeat: no-repeat; */
        background-color: #D0EBEC;
        border-radius: 40px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .aboutApp-container .aboutApp-body .aboutApp-body-right-container {
        order: 1;
        padding-left: 35px;
        padding-right: 35px;
        padding-top: 75px;
    }

    .aboutApp-container .aboutApp-body .aboutApp-body-right-container .aboutApp-body-title {
        line-height: 22px;
    }

    .aboutApp-container .aboutApp-body .aboutApp-body-left-container {
        order: 2;
        margin-top: 59px;
        padding-left: 70px;
        padding-bottom: 67px;
        padding-right: 35px;
    }

    .aboutApp-container .aboutApp-body-title {
        font-size: 22px;
    }

    .aboutApp-container .aboutApp-body-content {
        font-size: 16px;
    }

    .aboutApp-container .aboutApp-body-footer {
        font-size: 16px;
        width: 125px;
    }
}

/* How to work */

.works-container {
    background-color: #124759;
}

.works-container img {
    width: 80%;
}

@media screen and (max-width: 991px) {
    .works-container {
        background-color: #124759;
    }

    .works-container img {
        width: 100%;
    }
}

/* How to use */

.use-container {
    padding-left: 235px;
    padding-right: 216px;
    padding-bottom: 145px;
}

.use-container .use-container-title {
    margin-top: 68px;
    color: #124759;
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.2px;
}

.use-container .use-container-content {
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 45px;
}

.use-container .video-play-btn-content {
    position: absolute;
    bottom: -120px;
    left: -120px;
    width: 240px;
    height: 240px;
    border-radius: 300px;
    background-color: #fff;
}

.use-container .video-play-btn-content .video-play-btn {
    margin-left: auto;
    margin-right: auto;
    margin-top: 35px;
    animation-name: video-play-btn-animation;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.use-container .video-play-btn-content .fa {
    position: absolute;
    font-size: 60px;
    color: #64BBC2;
    top: 80px;
    left: 105px;
}

@keyframes video-play-btn-animation {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@media screen and (max-width: 1170px) {
    .use-container .video-play-btn-content {
        width: 150px;
        height: 150px;
        bottom: -75px;
        left: -75px;
    }

    .use-container .video-play-btn-content .video-play-btn {
        width: 100px;
        height: 100px;
    }

    .use-container .video-play-btn-content .fa {
        position: absolute;
        font-size: 40px;
        color: #64BBC2;
        top: 65px;
        left: 65px;
    }
}

@media screen and (max-width: 870px) {
    .use-container {
        padding-left: 62px;
        padding-right: 74px;
    }

    .use-container .video-play-btn-content {
        width: 80px;
        height: 80px;
        bottom: -40px;
        left: -40px;
    }

    .use-container .video-play-btn-content .video-play-btn {
        width: 57px;
        height: 57px;
        margin-top: 10px;
    }

    .use-container .video-play-btn-content .fa {
        position: absolute;
        font-size: 25px;
        color: #64BBC2;
        top: 27px;
        left: 33px;
    }
}

@media screen and (max-width: 460px) {
    .use-container {
        padding-left: 50px;
        padding-right: 50px;
        padding-bottom: 101px;
    }

    .use-container .use-container-title {
        margin-top: 68px;
        color: #124759;
        font-size: 40px;
        line-height: 48px;
    }
}

/* About us */

.aboutUs-container {
    background-color: #124759;
    padding-top: 128px;
    padding-left: 86px;
    padding-right: 80px;
    padding-bottom: 125px;
}

.aboutUs-container .aboutUs-content {
    background: url(../img/background-image.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding-top: 99px;
    padding-left: 59px;
    padding-bottom: 103px;
    padding-right: 83px;
    border-radius: 40px;
}

.aboutUs-container .aboutUs-right-container {
    padding-left: 93px;
}

.aboutUs-container .aboutUs-right-container .aboutUs-title {
    font-size: 48px;
    font-weight: 500;
    line-height: 55px;
    font-family: 'Inter';
    color: #124759;
}

.aboutUs-container .aboutUs-right-container .aboutUs-body {
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    color: #124759;
}

.aboutUs-container .aboutUs-right-container .aboutUs-footer {
    width: 140px;
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #124759;
    border-bottom: 1px solid #124759;
}

@media screen and (max-width: 1200px) {
    .aboutUs-container .aboutUs-right-container .aboutUs-title {
        font-size: 45px;
        font-weight: 600;
        line-height: 25px;
    }

    .aboutUs-container .aboutUs-right-container .aboutUs-body {
        font-size: 16px;
    }
}

@media screen and (max-width: 1100px) {
    .aboutUs-container .aboutUs-content {
        padding-right: 37px;
    }

    .aboutUs-container .aboutUs-right-container {
        padding-left: 37px;
    }

    .aboutUs-container .aboutUs-right-container .aboutUs-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 25px;
    }

    .aboutUs-container .aboutUs-right-container .aboutUs-body {
        font-size: 12px;
        line-height: 22px;
    }
}

@media screen and (max-width: 768px) {
    .aboutUs-container {
        padding-left: 0px;
        padding-right: 10px;
        padding-bottom: 54px;
        padding-top: 60px;
    }

    .aboutUs-container .aboutUs-content {
        padding-left: 37px;
        margin-left: 10px;
        margin-right: 10px;
        width: calc(100% - 20px);
        padding-bottom: 65px;
    }

    .aboutUs-container .aboutUs-right-container .aboutUs-title {
        font-size: 40px;
        font-weight: 600;
        line-height: 25px;
    }

    .aboutUs-container .aboutUs-right-container .aboutUs-body {
        font-size: 16px;
    }

    .aboutUs-container .aboutUs-left-container {
        order: 2;
    }

    .aboutUs-container .aboutUs-right-container {
        order: 1;
    }

    .aboutUs-container .aboutUs-right-container .aboutUs-footer {
        margin-bottom: 69px;
    }

    .aboutUs-container .aboutUs-right-container {
        padding-left: 0px;
    }
}

/* Reviews */

.reviews-container {
    padding-left: 84px;
    padding-right: 80px;
    padding-top: 100px;
    background: linear-gradient(180deg, #D0EBEC 0%, rgba(217, 217, 217, 0) 100%);
}

.reviews-container .reviews-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #124759;
}

.reviews-container .reviews-subTitle {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    align-items: center;
    text-align: center;
    color: #757575;
    margin-bottom: 78px;
}

.reviews-container .view-content {
    padding-top: 210px;
    padding-right: 77px;
    padding-left: 90px;
    padding-bottom: 210px;
    background-color: #124759;
    border-radius: 40px;
}

.reviews-container .view-content .view-content-more {
    position: absolute;
    top: 51px;
    right: 89px;
    color: #ffffff;
    border-bottom: 1px solid #ffffff;
}

.reviews-container .view-content .view-content-title {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 68px;
    color: #FFFFFF;
}

.reviews-container .view-content .reviews-user-card {
    position: absolute;
    left: 92px;
    bottom: 90px;
    height: 60px;
}

.reviews-container .view-content .reviews-user-card .reviews-user-card-img {
    width: 68px;
    height: 68px;
    margin-right: 5px;
}

.reviews-container .view-content .reviews-user-card .reviews-user-card-star {
    height: 20px;
}

.reviews-container .view-content .reviews-user-card .reviews-user-card-title {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0px;
    height: 20px;
}

.reviews-container .view-content .reviews-user-card .reviews-user-card-content {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #FFFFFF;
    margin-bottom: 0px;
    height: 20px;
}

.reviews-container .view-content .reviews-user-card-slide {
    position: absolute;
    right: 83px;
    bottom: 90px;
    color: #ffffff;
    width: 60px;
    font-size: 16px;
}

@media screen and (max-width: 1000px) {
    .reviews-container .view-content {
        padding-top: 120px;
        padding-left: 37px;
        padding-right: 37px;
    }

    .reviews-container .view-content .view-content-more {
        top: 37px;
        right: 40px;
    }

    .reviews-container .view-content .reviews-user-card {
        bottom: 51px;
        left: 37px;
        height: 48px;
    }

    .reviews-container .view-content .reviews-user-card>div {
        line-height: 0px;
    }

    .reviews-container .view-content .reviews-user-card .reviews-user-card-img {
        width: 48px;
        height: 48px;
    }

    .reviews-container .view-content .reviews-user-card .reviews-user-card-title {
        font-size: 16px;
    }

    .reviews-container .view-content .reviews-user-card .reviews-user-card-content {
        font-size: 14px;
    }

    .reviews-container .view-content .reviews-user-card .reviews-user-card-star {
        height: 10px;
    }

    .reviews-container .view-content .reviews-user-card-slide {
        right: 36px;
    }

    .reviews-container .view-content .reviews-user-card-slide {
        bottom: 59px;
    }

    .reviews-container .view-content .view-content-title {
        font-size: 30px;
        line-height: 40px;
    }
}

@media screen and (max-width: 768px) {
    .reviews-container {
        padding-left: 10px;
        padding-right: 10px;
        padding-top: 50px;
        background: linear-gradient(180deg, #D0EBEC 0%, rgba(217, 217, 217, 0) 100%);
    }

    .reviews-container .reviews-title {
        font-size: 40px;
        line-height: 48px;
    }

    .reviews-container .reviews-subTitle {
        font-size: 18px;
        line-height: 22px;
        padding-left: 30px;
        padding-right: 30px;
        margin-bottom: 51px;
    }
}

/* TryFree */

.tryfree-container {
    margin-top: 164px;
    background: linear-gradient(90deg, #124759 -9.04%, #64BBC2 131.5%);
    border-radius: 40px;
}

.tryfree-container .tryfree-left-container {
    padding-left: 130px;
    padding-top: 155px;
    padding-bottom: 137px;
}

.tryfree-container .tryfree-left-container .tryfree-left-container-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    letter-spacing: 0.2px;
    text-transform: capitalize;
    background: linear-gradient(90deg, #FFFFFF -2.16%, #FFFFFF 39.26%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

.tryfree-container .tryfree-left-container .tryfree-left-container-content {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    align-items: center;
    color: #FFFFFF;
    margin-bottom: 0px;
}

.tryfree-container .tryfree-left-container .tryfree-left-container-btn {
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 12px;
    padding-bottom: 12px;
    filter: drop-shadow(0px 4px 28px rgba(0, 0, 0, 0.13));
    border-radius: 500px;
    background-color: #64BBC2;
    border: none;
    margin-top: 46px;
}

.tryfree-container .tryfree-img {
    position: absolute;
    height: 637px;
    right: 15%;
    bottom: 0px;
}

@media screen and (max-width: 1170px) {
    .tryfree-container .tryfree-left-container .tryfree-left-container-title {
        font-size: 30px;
    }

    .tryfree-container .tryfree-left-container .tryfree-left-container-content {
        font-size: 15px;
        line-height: 20px;
    }

    .tryfree-container .tryfree-img {
        right: 5%;
    }
}

@media screen and (max-width: 1000px) {
    .tryfree-container .tryfree-img {
        height: 570px;
        right: -10px;
    }

    .tryfree-container .tryfree-left-container {
        padding-top: 74px;
        padding-left: 40px;
    }
}

@media screen and (max-width: 800px) {
    .tryfree-container .tryfree-img {
        height: 570px;
        right: -10px;
    }

    .tryfree-container .tryfree-left-container {
        padding-top: 74px;
        padding-left: 20px;
    }
}

@media screen and (max-width: 768px) {
    .tryfree-container {
        margin-left: 0px;
        margin-top: 109px;
    }

    .tryfree-container .tryfree-left-container {
        padding-top: 74px;
        padding-left: 37px;
        padding-right: 39px;
        text-align: center !important;
        padding-bottom: 45px;
    }

    .tryfree-container .tryfree-left-container .tryfree-left-container-title {
        font-size: 40px;
        line-height: 48px;
        font-weight: 600;
    }

    .tryfree-container .tryfree-img {
        position: relative;
        height: 441px;
    }

}

/* Partner */

.partner-container {
    padding-left: 188px;
    padding-right: 188px;
    margin-top: 189px;
}

.partner-container .partner-container-title {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 60px;
    line-height: 70px;
    text-align: center;
    color: #124759;
}

.partner-container .partner-container-title span {
    color: #64BBC2;
}

.partner-container .partner-container-content {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-align: center;
    color: #124759;
    padding-left: 112px;
    padding-right: 112px;
}

.partner-container .partner-container-btn {
    border: 1px solid #124759;
    border-radius: 500px;
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    letter-spacing: 1px;
    color: #124759;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
    padding-bottom: 8px;
    margin-top: 70px;
    margin-bottom: 137px;
}

@media screen and (max-width: 1150px) {
    .partner-container .partner-container-title {
        font-size: 50px;
    }
}

@media screen and (max-width: 1050px) {
    .partner-container .partner-container-title {
        font-size: 40px;
        line-height: 50px;
    }
}

@media screen and (max-width: 950px) {
    .partner-container {
        padding-left: 100px;
        padding-right: 100px;
    }

    .partner-container .partner-container-content {
        padding-left: 40px;
        padding-right: 40px;
    }

    .partner-container .partner-container-btn {
        margin-top: 20px;
        margin-bottom: 68px;
    }
}

@media screen and (max-width: 768px) {
    .partner-container {
        padding-left: 18px;
        padding-right: 18px;
    }
}

/* Contact */

.contact-container {
    background: #D0EAEC;
    border-radius: 40px;
    padding-top: 102px;
    padding-bottom: 115px;
    margin-bottom: 188px;
}

.contact-container p {
    margin: 0px;
}

.contact-container .contact-container-title {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    align-items: center;
    text-align: center;
    letter-spacing: 0.2px;
    color: #124759;
    margin-bottom: 30px;
}

.contact-container .contact-container-content {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    align-items: center;
    text-align: center;
    color: #757575;
    margin-bottom: 105px;
}

.contact-container .contact-container-more {
    position: absolute;
    top: 50px;
    right: 80px;
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 25px;
    color: #124759;
    border-bottom: 1px solid #124759;
}

.contact-container .row {
    padding-left: 162px;
}

.contact-container .contact-container-subTitle {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 25px;
    color: #124759;
}

.contact-container .fa {
    margin-bottom: 20px;
}

.contact-container .contact-container-subContent {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #595959;
    margin-bottom: 22px;
}

.contact-container .contact-container-subFooter {
    font-family: 'Acumin Pro';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 25px;
    color: #124759;
}

@media screen and (max-width: 1250px) {
    .contact-container .row {
        padding-left: 132px;
    }
}

@media screen and (max-width: 1150px) {
    .contact-container .row {
        padding-left: 100px;
    }
}

@media screen and (max-width: 1000px) {
    .contact-container .row {
        padding-left: 60px;
    }
}

@media screen and (max-width: 950px) {
    .contact-container .row {
        padding-left: 40px;
    }
}

@media screen and (max-width: 768px) {
    .contact-container {
        padding-top: 153px;
        margin-bottom: 80px;
        padding-bottom: 54px;
    }

    .contact-container .row {
        padding-left: 36px;
    }

    .contact-container .row>div {
        margin-bottom: 70px;
    }

    .contact-container .contact-container-title {
        font-size: 40px;
        line-height: 48px;
        text-align: left !important;
        padding-left: 23px;
    }

    .contact-container .contact-container-content {
        padding-left: 28px;
        padding-right: 28px;
        text-align: left !important;
    }

    .contact-container .contact-container-more {
        top: 67px;
        right: 40px;
        font-size: 14px;
    }

    .contact-container .contact-container-subContent {
        margin-bottom: 22px;
    }
}