body {
    margin: 0px;
    padding: 0px;
    font-family: 'Acumin Pro';
}

.cursor-pointer {
    cursor: pointer;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.d-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0px;
}

/* Signup */

.signup-container {
    margin-top: 72px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 197px;
    padding-top: 102px;
    padding-bottom: 173px;
    padding-left: 145px;
    padding-right: 146px;
    background-color: #D0EBEC;
    border-radius: 40px;
}

.signup-container .signup-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.2px;
    color: #124759;
    margin-bottom: 67px;
}

.signup-container .signup-errMsg {
    position: absolute;
    top: 186px;
    left: 0px;
    color: #FF2929;
    width: 100%;
}

.signup-container input,
.signup-container input:focus,
.signup-container input:focus-visible,
.signup-container input:active {
    margin-top: 60px;
    margin-bottom: 4px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #124759;
    border-radius: 0px;
    margin-left: auto;
    margin-right: auto;
    box-shadow: none;
}

.signup-container .signup-account {
    width: 439px;
    margin-top: 76px;
    margin-bottom: 14px;
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #8B8B8B;
    margin-left: auto;
    margin-right: auto;
}

.signup-container .register-btn {
    margin-top: 88px;
}

.signup-container .signup-dark-btn {
    margin-bottom: 36px;
    background-color: #124759;
    color: #fff;
    width: 439px;
    height: 63px;
    border: none;
    border-radius: 30px;
}

.signup-container .signup-left-container {
    padding-right: 60px;
}

.signup-container .signup-right-container {
    padding-left: 60px;
}

@media screen and (max-width: 1000px) {
    .signup-container {
        padding-top: 81px;
        padding-left: 44px;
        padding-right: 42px;
        padding-bottom: 132px;
    }
}

@media screen and (max-width: 768px) {
    .signup-container {
        margin-top: 31px;
        margin-left: 11px;
        margin-right: 9px;
        margin-bottom: 68px;
    }

    .signup-container .signup-left-container,
    .signup-container .signup-right-container {
        padding-right: 0px !important;
        padding-left: 0px !important;
    }

    .signup-container .signup-left-first-input {
        margin-top: 38px;
    }

    .signup-container .signup-errMsg {
        margin-bottom: 9px;
    }

    .signup-container button,
    .signup-container .signup-account {
        width: 100% !important;
    }
}

@media screen and (max-width: 473px) {
    .signup-container .signup-errMsg {
        top: 200px;
    }
}