body {
    margin: 0px;
    padding: 0px;
    font-family: 'Acumin Pro';
}

.cursor-pointer {
    cursor: pointer;
}

.container-fluid {
    margin: 0px;
    padding: 0px;
}

.d-justify-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

p {
    margin: 0px;
}

/* Signup */

.signup-container {
    margin-top: 72px;
    margin-left: 80px;
    margin-right: 80px;
    margin-bottom: 197px;
    padding-top: 102px;
    padding-bottom: 173px;
    background-color: #D0EBEC;
    border-radius: 40px;
}

.signup-container .signup-title {
    font-family: 'Inter';
    font-weight: 600;
    font-size: 48px;
    line-height: 58px;
    letter-spacing: 0.2px;
    color: #124759;
}

.signup-container input {
    margin-top: 60px;
    margin-bottom: 3px;
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #124759;
    border-radius: 0px;
    width: 439px;
    margin-left: auto;
    margin-right: auto;
}

.signup-container .signup-account {
    width: 439px;
    margin-top: 76px;
    margin-bottom: 14px;
    font-family: 'Acumin Pro';
    font-weight: 400;
    font-size: 15px;
    line-height: 24px;
    letter-spacing: -0.015em;
    color: #8B8B8B;
    margin-left: auto;
    margin-right: auto;
}

.signup-container .register-btn {
    margin-top: 88px;
}

.signup-container .signup-dark-btn {
    margin-bottom: 36px;
    background-color: #124759;
    color: #fff;
    width: 439px;
    height: 63px;
    border: none;
    border-radius: 30px;
}

.signup-container .signup-light-btn {
    margin-top: 17px;
    background-color: #fff;
    color: #124759;
    width: 439px;
    height: 63px;
    border: 1px solid #124759;
    border-radius: 30px;
}

.signup-container .signup-errMsg {
    margin-top: 31px;
    margin-bottom: 41px;
    color: #FF2929;
}

@media screen and (max-width: 768px) {
    .signup-container {
        margin-top: 32px;
        margin-left: 11px;
        margin-right: 9px;
        margin-bottom: 88px;
        padding-top: 87px;
        padding-left: 44px;
        padding-right: 42px;
        padding-bottom: 143px;
    }

    .signup-container .signup-title {
        font-size: 40px;
        line-height: 48px;
        margin-bottom: 19px;
    }

    .signup-container .signup-account {
        margin-top: 42px;
        width: 100%;
    }

    .signup-container input,
    .signup-container button {
        width: 100% !important;
    }

    .signup-container .signup-errMsg {
        position: absolute;
        top: 151px;
        left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
        width: 100% !important;
    }
}